<h1 class="header"> All Articles </h1>
<br>
<ul class="articles">
  <% @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <li class="excerpt">
    <%= sanitize(truncate(article.body, length: 650)) %>
    <br>
    <div class="read-more">
    <%= link_to "Read more", article_path(article), class: 'btn btn-primary btn-xs' %>
  </div>
  </li>
  <br>
  <% end %>
</ul>
<br>
<div class="create-new-article">
<%= link_to "Create a new Article", new_article_path, class: "btn btn-primary" %>
</div>
