<h1 class="header"> All Articles </h1>

<ul id="articles">
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article) %>
  </li>
  <% end %>
</ul>
<br>
<div class="create-new-article">
<%= link_to "Create a new Article", new_article_path, class: "btn btn-primary" %>
</div>
