 .new-article-title {
   text-align: center;
   font-size: 4em;
 }
 .edit-article-title {
   text-align: center;
 }
 .title-form {
   text-align: center;

 }
 .articles {
   text-align: center;
   padding: 25px;
   list-style-type: none;
   word-wrap: break-word;
 }
 .excerpt {
   text-align: center;
   font-weight: 420;
 }
 .read-more {
   text-align: center;
 }
 .create-new-article {
    text-align: center;

 }
 .header {
   text-align: center;
 }
 .post-title {
   text-align: center;
   font-size: 3.0em;
   font-weight: 600;
 }
 .comment {
   text-align: center;
   font-size: 2.6em;
   font-weight: 700;
 }
 .comment-title {
   text-align: center;
   font-size: 1.2em;
   font-weight: 500;
 }
 .comment-body {
   text-align: center;
   font-weight: 300;
 }
 .post-body {
   text-align: center;
   font-weight: 350;
   padding: 40px;
 }
 .article-btn {
   text-align: center;
 }
.placeholder {
  text-align: center;
  font-size: 2.4em;
}
 .form-title {
   font-size: 4.6em;
 }

 .body-form {
   text-align: center;
 }

 .body-title {
   font-size: 4.6em;
 }

 .new-article-button {
   text-align: center;
 }

 .save-article-button {
   text-align: center;
 }
