<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">RBLOG</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><%= link_to users_path do %>
          <i class="material-icons left">person</i>Profile
          <% end %>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
